body{
    margin: 0;
    background-color: black ;
    color: #e7e9ea;
    font-family: "Roboto", sans-serif;
}

#Header{
    background-color: black;
    transition: 0.5s;
    transition-property: transform; 
    transition-duration: 350ms; 
    transition-timing-function: cubic-bezier(0, 0, 0, 1); 
    transform: translate3d(0px, 0px, 0px) translateY(0px);
    border-bottom: #71767b 1px solid;
}

.head{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px 0px 30px;
    font-size: 20px;
}
#Header div p:hover {
    border-bottom: 5px solid rgb(29, 155, 240);
 
}
#Header div p{
    padding-bottom: 20px;
}
#new-post{
    display: none;
}

#btn{
    width: 40px;
    height: 40px;
    border-radius: 50em;
    border: none;
    background-color: black;
  
}

#btn img {
    width: 40px;
    height: 40px;
    border-radius: 50em;
    margin-left: -6px;
    margin-top: -1px;


}
.page{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#X-icon{
    font-size: 25px;
}

#set-icon{
    font-size: 23px;
}
.name{
    display: flex;
    align-items: center;
    gap: 30px;
}

.name span i, .name p span {
    color: #71767b;
  
}

.icons{
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    color: #71767b;
    
}
.icon {
    width: 13px;
    height: 16px;
    color: #e7e9ea;
    background-color: #e7e9ea;
    
  
}

#bod {
    display: flex;
    margin: 0;
    
}
.ri-verified-badge-fill{
    color: rgb(29, 155, 240);
}

.profilePic{
    width: 20%;
}
.pic {
    width: 45px;
    height: 45px;
    border-radius: 50em;
    margin: 15px 20px 0 20px;
}

.pic img {
    border-radius: 50em;
}

.image {
    border-radius: 30px;
}

.image img {
    border-radius: 20px;
}
.post{
    width: 80%;
    padding-right: 12px;
   
}
.post .text1 {
    font-weight: 400;
    font-size: 15px;
    margin-top: -12px;
    line-height: 20px;
}

.line{
    width: 100%;
    height: 0.1px;
    background-color: #71767b;
}

.sidebar{
    width: 0%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
    transition: 0.2s linear;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    border: 1px solid #71767b;
    z-index: 2;
    box-shadow: 0px 0px 230px rgba(67, 77, 102, 0.963);
}

.el{
    display: flex;
    justify-content: space-between;
}

.si-img{
    width: 40px;
    height: 40px;
    border-radius: 50em;
}

img{
    width: 100%;
    height: 100%;
    
}

.circle{
    border: 1px solid #71767b;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50em;
}

#circle {
    position: fixed;
    top: 83%;
    left: 80%;
    width: 60px;
    height: 60px;
    background-color: rgb(29, 155, 240);
    border: none;
    opacity: 0.8;
}

.sidebar p .si-user1{
    font-size: 20px;
}
.si-user{
    color: #71767b;
    margin-top: -17px;
    font-size: 15px;
}

.follow{
    display: flex;
    gap: 20px;
    margin-top: -20px;
}

.sidebar p span{
    color: #71767b;
    font-size: 13px;
    margin-left: 3px;
}

.sidebar .follow p b{
    font-size: 15px;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    font-weight: bolder;
       
}

.sidebar ul li {
    margin-bottom: 1.5em;
    display: flex;
    gap: 20px;
    font-size: 21px;
}

footer{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 93%;
    background-color: black;
    border: 1px solid #71767b;
   
}

.foot {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    #Header{
        width: 77%;
        margin-left: 15%;
        height: 50px;
        border: #71767b 0.1px solid;
    }
    #Header .page {
        margin-bottom: 0;
        margin-top: 0;
        height: 50px;
        text-wrap: nowrap;
        display: flex;
        justify-content: flex-end;
        gap: 30%;
    }
    #Header .page i {
        margin-top: 15px;
        margin-right: 5px;
    }
    .head{
        display: none;
    }
    footer {
        display: none;
    }
    .sidebar{
        width: 15%;
        box-shadow: none;
        border: 0.1px solid #71767b;
 
    }

    #bod{
        width: 77%;
        margin-left: 15%;
        border: #71767b 0.1px solid;
    }
    #new-post{
        display: flex;
        height: 200px;
        width: 77%;
        margin-left: 15%;
        border: #71767b 0.1px solid;

        
    }
    .first-pic{
      width: 20%;
      display: flex;
      justify-content: center;
    }
    .make-post{
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    .make-post input {
        width: 99%;
        height: 200px;
        background-color: black;
        text-align: start;
        border: none;      
    
 
    }
    .make-post input:hover {
        color: white;
    
    }
    input:focus {
        outline: none;
      
    }
    .make-post input::placeholder{
        position: relative;
        top: -40px;
        text-align:start;
        font-size: 20px;
        height: 200px;
    }
    .sidebar .circle, .sidebar p, .sidebar .follow, .sidebar .first-list, .sidebar .el {
        display: none;
    }
    .icons{
        justify-content: space-between;
    }
    .second-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 30px;
    }
    .second-list li i {
        font-size: 25px;
    }
    .first-pic div {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        border-radius: 50em;
    }

    .make-post span {
        color: rgb(29, 155, 240);
        font-weight: 500;
    }
    .make-post div{
        display: flex;
        justify-content: space-between;
        color: rgb(29, 155, 240);
        margin-top: 20px;

    }
    .make-post .l {
        border-top: #71767b 1px solid;
    }
    .make-post div div {
        display: flex;
        gap:  8px;
    }
    .make-post div .pos {
        color: white;
        background-color: rgb(29, 155, 240);
        width: 80px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .line {
        display: none;
    }

}